<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Best Cars</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/djangoapp/about/">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/djangoapp/contact/">Contact us</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>
                        <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" name="username" >
                                <input type="password" class="form-control" placeholder="Password" name="psw" >
                                <button class="btn btn-primary" type="submit">Login</button>
                                <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                            </div>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
          </nav>
          <div class="container">
            <h1 class="mt-5">Welcome to Best Cars!</h1>
            <p class="lead">Home to the best cars in North America. Whether you're looking for a fast sports car or a reliable family vehicle, we've got you covered.</p>
            <p>Here at Best Cars, we believe in quality, affordability, and, most importantly, in putting the customer first. We offer a wide range of cars to suit every lifestyle and budget, and our team of experienced professionals is always on hand to help you make the right choice.</p>
            <!--<p>But don't just take our word for it. Come and see for yourself! Check out our <a href="/inventory/">inventory</a> to see the exciting range of cars we have in stock. Or drop by our dealership - we promise you'll receive a warm welcome and expert advice.</p>-->
            <p class="lead">Interested in learning more about us? Check out our <a href="/djangoapp/about/">About Us</a> page.</p>
            <p class="lead">Have any questions or want to book a test drive? Head over to our <a href="/djangoapp/contact/">Contact Us</a> page. We'd love to hear from you!</p>
            <p class="lead mt-5">At Best Cars, we're not just selling cars. We're helping you find the perfect ride for your journey. Let's hit the road together!</p>
        </div>
    <!--Add a dealer table here -->

    </body>

</html>
